<div class="card">
    <div class="card-body">
        <div class="div-table">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Email</th>
                        <th>Celular</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pessoa of pessoas">
                        <td>{{pessoa.nome}}</td>
                        <td>{{pessoa.tipo}}</td>
                        <td>{{pessoa.email}}</td>
                        <td>{{pessoa.celular}}</td>
                        <td>
                            <button type="button" class="btn btn-primary fa fa-pencil"
                                (click)="editar.emit(pessoa.id_pessoa)">
                            </button>

                            <button type="button" class="btn btn btn-danger fa fa-trash button-remove"
                                (click)="remover.emit(pessoa.id_pessoa)">
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>