<div class="card">

    <div class="form-container">
        <form [formGroup]="formPessoa" (ngSubmit)="submit()">
            <div class="row">

                <div class="form-group col-md-3">
                    <label for="nome">Nome</label>
                    <input type="text" formControlName="nome" class="form-control">
                </div>
    
                <div class="form-group col-md-3">
                    <label for="tipo">Tipo</label>
                    <select class="form-select" formControlName="tipo">
                        <option selected>Selecione um tipo</option>
                        <option value="PF">Pessoa Física</option>
                        <option value="PJ">Pessoa Jurídica</option>
                    </select>
                </div>
                
                <div class="form-group col-md-3">
                    <label for="cpf">Cpf</label>
                    <input type="text" formControlName="cpf" class="form-control">
                </div>

                <div class="form-group col-md-3">
                    <label for="sexo">Sexo</label>
                    <select class="form-select" formControlName="tipo">
                        <option selected>Selecione um sexo</option>
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                    </select>
                </div>

                <div class="form-group col-md-3">
                    <label for="razao_social">Razao Social</label>
                    <input type="text" formControlName="razao_social" class="form-control">
                </div>
    
                         
                <div class="form-group col-md-3">
                    <label for="cnpj">Cnpj</label>
                    <input type="text" formControlName="cnpj" class="form-control">
                </div>
    
    
            </div>
        </form>
    </div>
</div>
